{% extends 'base.html' %}
{% block title %}users info{% endblock %}
{% block main_title %} {{ user.username }}{% endblock %}
{% block main_title_info %}{% endblock %}
{% block body %}

<ul class="pagination justify-content-center" style="margin:20px 0">
  <li class="page-item"><a class="page-link" href="..">&#11013 Users</a></li>
  <li class="page-item"><a class="page-link" href="snapshots">Snapshots &#10145</a></li>
</ul>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Information about the user:</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">
        <td>User ID</td>
	<td>{{ user.user_id  }}</td>
      </tr>      
      <tr class="table-success">
        <td>Username</td>
	<td>{{ user.username }}</td>
      </tr>      
      <tr class="table-primary">
        <td>Birthday</td>
	<td>{{ user.birthday  }}</td>
      </tr>      
      <tr class="table-success">
        <td>gender</td>
	<td>{{ user.gender  }}</td>
      </tr>      
    </tbody>
  </table>

{% endblock %}
