{% extends 'base.html' %}
{% block title %}users list{% endblock %}
{% block main_title %}Users{% endblock %}
{% block main_title_info %}{% endblock %}
{% block body %}

<div class="container">
<!--  <div class="bg-info">-->
    <div><pre>Click an ID to see details about a user</pre></div>
<!--  </div>-->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4"><strong>ID</strong></div>
    <div class="col"><strong>Name</strong></div>
  <div class="row">
    <div class="col"></div>
  </div>
  </div>

  {% for id, name in data.items() %}
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><a href="users/{{ id }}"># {{ id }}</a></div>
    <div class="col-sm-8" style="background-color:orange;">{{ name }}</div>
  {% endfor %}
  </div>
</div>

{% endblock %}
