atomicwrites==1.3.0
attrs==19.3.0
bleach==2.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.3.3
coloredlogs==10.0
coverage==4.5.4
cycler==0.10.0
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
grpcio==1.18.0
grpcio-tools==1.18.0
html5lib==1.0.1
humanfriendly==6.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
more-itertools==7.2.0
numpy==1.17.3
packaging==19.2
pexpect==4.7.0
pika==1.1.0
Pillow==6.2.1
pluggy==0.13.0
protobuf==3.11.1
protobuf-compiler==1.0.20
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pytest==5.2.2
pytest-cov==2.8.1
python-dateutil==2.8.1
requests==2.22.0
six==1.12.0
termcolor==1.1.0
tqdm==4.31.1
urllib3==1.25.6
virtualenv==16.7.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
zipp==0.6.0
